<!DOCTYPE html>
<html>
<title>HushHushRecuiter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body  >
 

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>HushHushRecruiter</b></a>
   
    <div class="w3-right w3-hide-small">
		
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
 
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects" display="block", margin-left="auto", margin-right="auto", width="50%">
  
    
	<img src="../static/pickCandidate.jpg" alt="PickingImage" style="width:800px;height:400px;" class="center">
  </div>

 

  
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p> Are you struggling to get best candiates for your company?, Are you not able to find good resources , then HushHushRecruiter is the solution. HushHushRecruiter all one in solution for your recrutitng. Click On below button to find out.
	
    

     <form action="/role"method="post">
    <div style="width:200px;" >
     <select name="selectRole" id='selectRole'>
    <option value="0">Select Role:</option>
    <option value="1">Junior Developer</option>
    <option value="2">Senior Develoer</option>
    <option value="3">Solution Architects</option>
  </select>
   <br>
   <br>
        <button type="submit" class="btn">Submit</button>  
    </form>
</p>

 </div>

      
  

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Jai Ahuja</h3>
      <p class="w3-opacity">Co Founder and Business Head</p>
	  <p class="w3-opacity">Email:jai.ahuja@hushhushrecuiter.com</p>
      
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Pramod D C</h3>
      <p class="w3-opacity">Co Founder and IT Architect</p>
	  <p class="w3-opacity">Email:pramod.dc@hushhushrecuiter.com</p>
     
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <h3>Shruthi H R</h3>
      <p class="w3-opacity">Co Founder  and Development Head</p>
	   <p class="w3-opacity">Email:Shruthi.hr@hushhushrecuiter.com</p>
     
    </div>
 
  </div>


<div w3-container>
    <form action="/action_page" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="btn" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  

<div class="w3-container">
 
</div>


</div>



</body>
</html>
